#popup {
    position: absolute;
    background-color: #08525980;
    color:white;
    padding: 10px;
    border-radius: 5px;
    display: none; /* Initially hidden */
  }
  .img-main{
    background-image: url("https://images.pexels.com/photos/11753638/pexels-photo-11753638.jpeg");
    background-image: url('your-image.jpg'); /* Add youbackground image */
    height: 100vh; /* Full screen height */
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .products{
     padding: 50px;
     background-color: rgb(231, 195, 166);
     text-align: center;
     display:flex;
     flex-direction: row;
     /* flex-wrap: wrap; */
     column-gap: 26px;
     row-gap: 30px;
     
  }
  .products img{
    height:50vh;
    width:32vw;
    border-radius: 1.2rem;
  }